.mission {
  display: grid;
  grid-template-areas:
    "completion title"
    "completion description"
    "completion progress";
  grid-template-columns: 50px auto;
  column-gap: 20px;
  row-gap: 10px;
}

.mission__complete {
  position: relative;

  grid-area: completion;
  align-self: start;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  border: 2px solid var(--color-border);
  border-radius: 50%;

  cursor: pointer;
  transition: border-color 0.3s ease-in-out 0s;
}

.mission__complete:focus {
  outline: none;
}

.mission__title {
  grid-area: title;
  margin: 0;
}

.mission__description {
  grid-area: description;
  margin: 0;
}

.missions__progress {
  grid-area: progress;
}
